.cards-layout{
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 60px/4));
  gap: 20px;
}

.card-footer{
  padding-left:0px !important;
  padding-right:0px !important;
}
.card-footer-custom{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 align-items: center;
}